footer
  ul
  
    br
    
    .container
    .row.justify-content-md-center
        .col.col-lg-2
          a.navbar-brand(href='/', homeController.index) Sobre nosotros
        |     
        .col.col-lg-2
          a.nav-link(href='/contactenos', homeController.contactenos) Contactenos
        |     
        .col.col-lg-2
          a.nav-link(href='/misionVision', homeController.misionVision) Mision Vision
    