header
  include nav.jade
  div

        .container
    .row.justify-content-md-center
        .col.col-lg-2
          img(src="/static/img/logo.png")
        |     
        .col.col-lg-2
          h1 SYSSELL
        |     