nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/', homeController.index) INICIO
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/contactenos', homeController.contactenos) CONTACTENOS 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/misionVision', homeController.misionVision) MISION - VISION
     

     
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search', placeholder='Buscar', aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Buscar
