extends partials/layout.jade

block content   

       
       <div class="container">
       H5 NOMBRES:
       input(type="text")
       br
       br

       H5 CORREO:
       input(type="email")
       br
       br

       H5 MENSAJE:
       textarea(name="mensaje", cols="50", rows="5")
       br
       br
       
       
       input.waves-effect.waves-light.btn-large.red.accent-3(type='button', onclick="location='/'", value="Enviar")

      