extends partials/layout.jade

block content   

  <div class="container">
  h1.text-success Pagina Principal
  p.text-danger Bienvenido al sistema web
  
  .container
    .row.justify-content-md-center
        .col.col-lg-2
          img(src="/static/img/peloOso.jpg")
        |   
  
  h4 En los últimos años la empresa “INNOVACIÓN TEXTIL S.A.C.”, con nombre comercial “PELO DE OSO” ha atravesado por un sistema de éxitos y fracasos para lograr la posición en la que actualmente se encuentra.
  h4 Su comienzo fue desde una pequeña familia emprendedora que realizó sus primeras chompas con pequeñas máquinas cosedoras donde recibían pedidos al por menor, el trabajo y la creatividad fueron pilares para su desarrollo. Con el paso de los años pasaron a ser una empresa formal por lo cual obtuvieron su primera marca “Primavera”, su popularidad fue creciendo pero sobre todo sus chompas cada vez fueron perfeccionándose hasta abrirse campo a un mercado extranjero con el fin de llevar su marca a la cima del éxito.