extends partials/layout.jade

block content   

        <div class="container">
        form
            p.
            h2 MISIÓN
            “somos una pequeña empresa de sociedad anónima cerrada dedicada a la producción de chompas que busca mejora la producción. Incrementar la importación y las ventas. Empleando en nuestros productos de los mejores procesos de calidad y servicio, garantizamos superar las expectativas de nuestros clientes y la rentabilidad de la empresa; además contribuimos socialmente al desarrollo de la región en la generación de empleos a personas mayores y cabezas de familias.”
            br
            br

            p.
            h2 VISIÓN
            “Nos vemos en el 2020 como la empresa líder en la región de las confecciones de chompas con nuevas sucursales, capital humano especializado y la marca pelo de oso reconocida nacionalmente, ofreciendo innovación permanente a través de la investigación y creación de nuevos productos.”
